params {
    // In/out paths
    dir = '.'
    out = null

    // Genome/annotation data
    genome = null
    gtf = null

    // Run list
    runlist = null

    // Help
    help = false
}

manifest {
    name            = 'stoseq.nf'
    author          = """Alejandro Gonzales-Irribarren"""
    homePage        = 'https://github.com/alejandrogzi/stoseq'
    description     = """A portable storage-optimized RNA-seq processing pipeline"""
    mainScript      = 'stoseq.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
    doi             = ''
}


process {
    executor        = 'local'
//    queue           = null
//    clusterOptions  = null
//    time            = 24h
//    queueSize       = 200
//    penv            = 'openmpi'
}