params {
    // i/o 
    dir = '.'
    out = './results'

    // genome
    genome = null
    gtf = null
    transcriptome = null

    // accessions
    runlist = null

    // rib dbs
    rrna_db = './assets/rrna_dbs'

    // info
    help = false
    version = false

    // flags
    fqc = false
    mqc = false
    salmon = false
}

manifest {
    name            = 'stoseq.nf'
    author          = """Alejandro Gonzales-Irribarren"""
    homePage        = 'https://github.com/alejandrogzi/stoseq'
    description     = """A portable storage-optimized RNA-seq processing pipeline"""
    mainScript      = 'stoseq.nf'
    nextflowVersion = '!>=22.10.1'
    version         = '1.0.0'
    doi             = ''
}


process {
    executor        = 'local'
//    queue           = null
//    clusterOptions  = null
//    time            = 24h
//    queueSize       = 200
//    penv            = 'openmpi'
}
